:root {
  --color-slate-900: #1f314f;
  --color-slate-500: #68778d;
  --color-slate-300: #d5e1ef;
  --color-white: #ffffff;

  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;

  --text1-font-size: 22px;
  --text1-line-height: 120%;
  --text1-letter-spacing: 0px;

  --text2-font-size: 15px;
  --text2-line-height: 140%;
  --text2-letter-spacing: 0.2px;

  --bold: 800;
  --regular: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-main);
}

body {
  background-color: var(--color-slate-300);
  position: relative;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
