.container {
  width: fit-content;
  max-width: 320px;
  margin: var(--spacing-200);

  padding: var(--spacing-200);
  background-color: var(--color-white);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.qrImage {
  position: relative;
  width: 100%;
  height: 288px;
  border-radius: 20px;
  overflow: hidden;
}

.qrMain {
  margin-bottom: calc(var(--spacing-500) - var(--spacing-200));

  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);

  text-align: center;
}

.qrMain h1 {
  font-size: var(--text1-font-size);
  line-height: var(--text1-line-height);
  letter-spacing: var(--text1-letter-spacing);
  font-weight: var(--bold);
  color: var(--color-slate-900);
}

.qrMain p {
  font-size: var(--text2-font-size);
  line-height: var(--text2-line-height);
  letter-spacing: var(--text2-letter-spacing);
  font-weight: var(--regular);
  color: var(--color-slate-500);
}
